<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone</title>
</head>

<body>
    <form method="post">
        <input type="number" name="Indo" placeholder="Nilai Bahasa Indonesia">
        <br>
        <input type="number" name="Ing" placeholder="Nilai Bahasa Inggris">
        <br>
        <input type="number" name="MTK" placeholder="Nilai MTK">
        <br>
        <input type="number" name="Kimia" placeholder="Nilai Kimia">
        <br>
        <input type="number" name="Fisika" placeholder="Nilai Fisika">
        <br>
        <input type="number" name="Biologi" placeholder="Nilai Biologi">
        <br>
        <input type="number" name="Ekonomi" placeholder="Nilai Ekonomi">
        <br>
        <input type="number" name="Geografi" placeholder="Nilai Geografi">
        <br>
        <input type="number" name="Sosiologi" placeholder="Nilai Sosiologi">
        <br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>