<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Bakat</title>
</head>

<body>
    <div class="reg-box">
        <div class="logo">
            <h1>BAKAT</h1>
        </div>
        <h3>Masukkan nilai yang anda peroleh</h3>
        <form action="{{ url_for('page1') }}" method='POST'>
            <br><br> Bahasa Indonesia <br>
            <input type="text" name="Ind">
            <br><br> Bahasa Inggris <br>
            <input type="text" name="Ing">
            <br><br> Matematika <br>
            <input type="text" name="Mat">
            <br><br> Kimia <br>
            <input type="text" name="Kim">
            <br><br>Fisika <br>
            <input type="text" name="Fis">
            <br>
            <p style="color: black;">Press the submit button</p>
            <input type="submit" value="Submit">
        </form>
        <a href="{{ url_for('page2') }}">
            <input type="image" src="/static/next.png" width="55px" style="margin-left: 300px;">
        </a>
    </div>
</body>

</html>