<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Bakat</title>
</head>

<body>
    <div class="reg-box">
        <div class="logo">
            <h1>BAKAT</h1>
        </div>
        <h3>Masukkan nilai yang anda peroleh</h3>
        <form action="{{ url_for('page2') }}" method="POST">
            <br><br> Biologi <br>
            <input type="text" name="Bio">
            <br><br> Ekonomi <br>
            <input type="text" name="Eko">
            <br><br> Geografi <br>
            <input type="text" name="Geo">
            <br><br> Sosiologi
            <br><input type="text" name="Sos">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <a href="{{ url_for('result') }}">
            <input type="image" src="/static/next.png" width="55px" style="margin-left: 300px;">
        </a>
    </div>
</body>

</html>