.logo {
    display: flex;
    justify-content: center;
}

.reg-box {
    width: 500px;
    height: 600px;
    padding: 20px;
    position: absolute;
    left: 30%;
    top: 10%;
    background-color: #FFF8D9;
    color: #D99879;
}

.start-button {
    padding: 200px;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #D99879;
    font-size: 15px;
    color: #87460A;
}

form {
    margin-left: 100px;
}

h2 {
    margin-top: 50px;
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: black;
    margin-top: 15px;
}

input[type=text] {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    border-color: #D99879;
    border-inline-color: #D99879;
}

.result-box {
    width: 320px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #D99879;
    font-size: 20px;
    color: #87460A;
    margin-left: 90px;
    margin-top: 50px;
    text-align: center;
}

.text-box {
    top: 6px;
    position: relative;
}